body{
    width: 1350px;
    background: black url(../html/140028261.jpg) no-repeat ;

}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }



h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.nav{
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    list-style-type: none;
    margin-left: 70px;

}
.cont{
    display: flex;

}
 .cont a:hover{
    color: rgb(0, 255, 255);
   
    
   
}
a{
    text-decoration: none;
}
.con pre{
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(14, 236, 218);
    font-size: 20px;
    float: right;
    display: flex;
    box-shadow: 0 5px 10px;
    margin-right:  50px;
}
.kut:hover{
    color: rgb(0, 183, 255);

}
    
